.rodzic{
    border: 10px dashed red;
    width: 200px;
    height: 200px;

}

.dziecko{
    box-sizing: border-box;
    border: 10px dashed blue;
    width: 100%;
    height: 100%;
}

.viewport{
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;
}
.em{font-size: 1.5em;}

:root{font-size: 10px;}
.rem{font-size: 5rem;}


.sprite{
    border: 2px dashed red;
    width: 90px;
    height: 90px;
    background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw1/sprites.jpg?raw=true) ;
    box-sizing: unset;
}
.sprite:hover{
    border:2px dashed green;
    background-position: -90px;
}

.sprite:active{
    border:2px dashed blue;
    background-position: 0 -180px;
}
