
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
