body{
    background-color: blanchedalmond;
    h1{text-align: center;}
    main{
        display: flex;
        justify-content: center;
        max-width: 60vw;
        margin: auto;
        div{
            border: 2px dashed red;
            flex: 1;
            display: grid;
            place-items: center;
            padding: 10px;
            cursor: pointer;
        }
        img{
            max-width: 100%;
            flex:3;
        }
    }
    footer{
        text-align: right;
        padding: 20px;
    }
}